<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Encrypt</servlet-name>
        <servlet-class>security.Security</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncryptionServlet</servlet-name>
        <servlet-class>EncryptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilesServlet</servlet-name>
        <servlet-class>FilesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Encrypt</servlet-name>
        <url-pattern>/Encrypt</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            hello.html
        </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>EncryptionServlet</servlet-name>
        <url-pattern>/EncryptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilesServlet</servlet-name>
        <url-pattern>/FilesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
